<div class="main-container">
  <nav class="actions-group">

    <div class="nav-title">
      <img src="http://i.imgur.com/RdKXNIB.png" class="logo"/>
      <span>BetterNote</span>
    </div>

    <ul class="action-icons">
      <div class="action-icons top">
        <li class="single-action" data-id="1">
          <div class="primary-circle">
            <i class="fa fa-plus action-icon"></i>
          </div>
          <span style="padding-bottom: 13px">New Note</span>
        </li>
        <li class="single-action" data-id="2">
          <div class="primary-circle">
            <i class="fa fa-search action-icon"></i>
          </div>
          <span>Search</span>
        </li>
      </div>

      <div class="action-icons middle">
        <li class="single-action" data-id="3">
          <div class="secondary-circle">
            <i class="fa fa-file-text action-icon"></i>
          </div>
          <span>Notes</span>
        </li>
        <li class="single-action" data-id="4">
          <div class="secondary-circle">
            <i class="fa fa-book action-icon"></i>
          </div>
          <span>Notebooks</span>
        </li>
        <li class="single-action" data-id="5">
          <div class="secondary-circle">
            <i class="fa fa-tag action-icon"></i>
          </div>
          <span>Tags</span>
        </li>
      </div>

      <div class="action-icons bottom">
        <li class="single-action" data-id="6">
          <div class="secondary-circle">
            <i class="fa fa-sign-out"></i>
          </div>
          <span>Log out</span>
        </li>
      </div>
    </ul>
  </nav>

  <div id="page-content">

  </div>
</div>
