<div class="main-container">
  <nav class="actions-group">

    <div class="nav-title">
      <img src="http://i.imgur.com/RdKXNIB.png" class="logo"/>
      <span>BetterNote</span>
    </div>

    <ul class="action-icons">
      <div class="action-icons-group">
        <div class="icon-circle">
          <i class="fa fa-plus action-icon"></i>
        </div>
        <div class="icon-circle">
          <i class="fa fa-search action-icon"></i>
        </div>
      </div>
      <div class="action-icons-group middle">
        <div class="secondary-circle">
          <i class="fa fa-star action-icon"></i>
        </div>
        <div class="secondary-circle">
          <i class="fa fa-file-text action-icon"></i>
        </div>
        <div class="secondary-circle">
          <i class="fa fa-book action-icon"></i>
        </div>
        <div class="secondary-circle">
          <i class="fa fa-tag action-icon"></i>
        </div>
      </div>
    </ul>

    <ul class="action-labels">
      <div class="action-label-group">
        <div class="action-label top">
          <span>New Note</span>
        </div>
        <div class="action-label">
          <span>Search</span>
        </div>
      </div>
      <div class="action-label-group middle">
        <div class="action-label middle">
          <span>Shortcuts</span>
        </div>
        <div class="action-label middle">
          <span>Notes</span>
        </div>
        <div class="action-label middle">
          <span>Notebooks</span>
        </div>
        <div class="action-label middle">
          <span>Tags</span>
        </div>
      </div>
    </ul>

    <div class="log-out-container">
      <div class="log-out-group">
        <div class="secondary-circle">
          <i class="fa fa-sign-out"></i>
        </div>
        <div class="action-label bottom">
          <span>Logout</span>
        </div>
      </div>
    </div>
  </nav>

  <div id="page-content">

  </div>
</div>
