<div class="desktop-mix-image">
  <header class="login">
    <div class="seal-logo"></div>
  </header>
  <section class="login-container">
    <span>Better Note</span>
    <form action="<%= session_path %>" method="post" class="login">
      <%= auth_token_input %>

      <label for="email">Email address</label>
      <input type="text" id="email" name="user[email]" class="email" value="">

      <label for="password">Password</label>
      <input type="password" id="password" name="user[password]"
            class="password" value="">

      <button type="submit" class="guest-login">Guest login</button>
      <button type="submit" class="login">Sign in</button>
    </form>

    <div class="sign-in-login">
      <span class="question-text">Don't have an account?</span>
      <%= link_to "Create Account", new_user_path, class: "link-text" %>
    </div>
  </section>
</div>

<script type="text/javascript">
  $('button.guest-login').click(function () {
    $('input.email').val('example');
    $('input.password').val('password');
    $( "button.login" ).trigger('click');
  })
</script>
