<div class="items-container">
  <section class="new-notebook-container">
    <header class="new-notebook">
      <i class="fa fa-book"></i>
      <div class="new-notebook-title">Create Notebook</div>
    </header>
    <input type="text" class="notebook-name" placeholder="Title your notebook">
    <span class="cancel-notebook">Cancel</span>
    <span class="create-notebook">Confirm</span>
  </section>
</div>
