<div class="items-container">
  <section class="new-notebook-container">
    <header class="new-notebook delete">
      <i class="fa fa-trash"></i>
      <div class="new-notebook-title delete">Delete Notebook</div>
    </header>
    <div class="confirmation-container">
      <span class="confirmation">Are you sure you want to delete
        <b><%= title %></b> ?</span>
    </div>
    <span class="cancel-notebook cancel">Cancel</span>
    <span class="create-notebook delete">Confirm</span>
  </section>
</div>
