<div class="item-panel">
  <div class="date-icon-container">
    <div class="item-date"><%= date %> </div>
    <i class="fa fa-trash-o"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="item-title"><%= note.get('title') %></div>
  <div class="item-preview">
    <%= note.get('content') %>
  </div>
</div>
