/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div.main-container {
   position: absolute;
   left: 0px;
   top: 0px;
   right: 0px;
   bottom: 0px;
 }

.header-navbar {
   padding: 14px 0 15px;
 }

 .header-navbar:after {
   content: "";
   visibility: hidden;
   display: block;
   clear: both;
 }

.header-group {
   display: inline-block;
   vertical-align: middle;
 }

 .header-left {
   float: left;
 }

 .header-left > li {
   font-size: 11px;
   font-weight: 500;
   color: #ababab;
 }

 .header-right {
   float: right;
 }

.header-group > li {
  display: inline-block;
  padding-right: 18px;
  margin-left: 20px;
}

.done-btn {
  display: inline-block;
  padding-left: 18px;
  margin-right: 20px;
}

.done-btn {
  background-color: #2dbe60;
  color: #fff;
  border: 1px solid #2dbe60;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 2px 18px 3px;
  vertical-align: top;
  font-size: 12px;
  font-weight: 200;
  line-height: 17px;
  font-family: helvetica, arial, sans-serif;
}

.done-btn:hover {
  background-color: #28a955;
  border: 1px solid #28a955;
  color: #fff;
}

.share-btn {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  padding-top: 3px;
}

.share-btn > span {
  color: #ababab;
  font-weight: 200;
  padding: 3px 10px 0;
  font-size: 12px;
  line-height: 17px;
  margin-left: 1px;
}

.share-btn, .done-btn {
  margin-left: 16px;
}

.share-btn-drop-arrow {
  border-left: 1px solid #d1d1d1;
  display: inline-block;
  position: relative;
  top: -3px;
  height: 122%;
}

.fa-caret-down {
  color: #d1d1d1;
  font-size: 14px;
}

.share-caret {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.share-btn:hover span,
.share-btn:hover i.fa-caret-down {
  color: #2dbe60;
}

.share-btn:hover {
  border-color: #2dbe60;
}

.share-btn:hover .share-btn-drop-arrow {
  border-color: #2dbe60;
}

.create-notebook-group:hover {
  cursor: pointer;
}

.create-notebook-group > .fa-book {
  margin-right: 4px;
}

.create-notebook-group > .notebook-caret {
  margin-left: 4px;
}

li > i.fa-tag {
  margin-right: 4px;
}

nav.actions-group {
  float: left;
  padding: 12px 12px 24px 17px;
  background-color: #f8f8f8;
  height: 100%;
  border-right: 1px solid #ececec;
}

ul.action-icons {
  float: left;
  margin-top: 28px;
}

div.icon-circle {
  background-color: white;
  border: 1px solid #d1d1d1;
  transition: background-color 0.2s ease;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
}

div.secondary-circle {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: background-color 0.2s ease;
}

div.secondary-circle:hover {
  background-color: #2dbe60;
  cursor: pointer;
}

div.secondary-circle:hover > .action-icon {
  color: white;
}

i.action-icon {
  padding-left: 8px;
  font-size: 20px;
  padding-top: 7px;
  color: #2dbe60;
}

div.icon-circle > i.fa-plus {
  padding-left: 10px;
  padding-top: 8px;
}

div.icon-circle > i.fa-search {
  padding-left: 8px;
  padding-top: 7px;
}

div.secondary-circle > i.fa-star {
  padding-left: 9px;
  padding-top: 8px;
}

div.secondary-circle > i.fa-file-text {
  padding-left: 10px;
  padding-top: 7px;
}

div.secondary-circle > i.fa-tag {
  padding-left: 10px;
  padding-top: 7px;
}

div.icon-circle:hover {
  background-color: #2dbe60;
  border-color: #2dbe60;
  cursor: pointer;
}

div.icon-circle:hover i.action-icon {
  color: white;
}

ul.action-labels {
  float: left;
  color: #807f83;
  margin-top: 28px;
}

div.action-label.top {
  margin-bottom: 2px;
}

div.action-label.middle {
  margin-bottom: 1px;
}

.action-label > span {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 6px 10px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.action-label > span:hover {
  color: #2dbe60;
}

div.action-label-group {
  margin-top: 5px;
}

div.action-icons-group.middle {
  margin-top: 70px;
}

div.action-label-group.middle {
  margin-top: 60px;
}

img.logo {
  width: 30px;
  height: 30px;
  float: left;
}

div.nav-title > span {
  font-family: 'Arvo', times, serif;
  color: #2dbe60;
  float: left;
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 8px;
}

div.log-out-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid #ececec;
  width: 183px;
  color: #807f83;
}

.log-out-group:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}

div.action-label.bottom {
  float: left;
}

.log-out-group > div.secondary-circle {
  float: left;
}

.log-out-group {
  padding: 2px 20px;
}

div.secondary-circle > i.fa-sign-out {
  padding-top: 9px;
  padding-left: 11px;
  color: #2dbe60;
}

div.secondary-circle:hover > i.fa-sign-out {
  color: white;
}

div.action-label.bottom {
  padding-top: 6px;
}

header.note-title-header {
  padding-top: 100px;
}

section.text-edit-section {
  float: left;
  width: calc(100% - 183px);
  height: 100%;
}

div.note-title-container {
  height: 32px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
  max-width: 732px;
}

div.note-title-container > input {
  height: 32px;
  line-height: 32px;
  width: 100%;
}
