/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div.main-container {

   position: absolute;
   left: 0px;
   top: 0px;
   right: 0px;
   bottom: 0px;
 }

.header-navbar {
   padding: 14px 0 15px;
 }

 .header-navbar:after,
 header.notes-header:after,
 div.note-info:after,
 div.date-icon-container:after,
 ul.sort-options-list > li:after {
   content: "";
   visibility: hidden;
   display: block;
   clear: both;
 }

.header-group {
   display: inline-block;
   vertical-align: middle;
 }

 .header-left {
   float: left;
 }

 .header-left > li {
   font-size: 11px;
   font-weight: 500;
   color: #ababab;
 }

 .header-right {
   float: right;
 }

.header-group > li {
  display: inline-block;
  padding-right: 18px;
  margin-left: 20px;
}

.done-btn {
  display: inline-block;
  padding-left: 18px;
  margin-right: 20px;
}

.done-btn {
  background-color: #2dbe60;
  color: #fff;
  border: 1px solid #2dbe60;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  padding: 2px 18px 3px;
  vertical-align: top;
  font-size: 12px;
  font-weight: 200;
  line-height: 17px;
  font-family: helvetica, arial, sans-serif;
}

.done-btn:hover {
  background-color: #28a955;
  border: 1px solid #28a955;
  color: #fff;
}

.share-btn {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  height: 24px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  padding-top: 3px;
}

.share-btn > span {
  color: #ababab;
  font-weight: 200;
  padding: 3px 10px 0;
  font-size: 12px;
  line-height: 17px;
  margin-left: 1px;
}

.share-btn, .done-btn {
  margin-left: 16px;
}

.share-btn-drop-arrow {
  border-left: 1px solid #d1d1d1;
  display: inline-block;
  position: relative;
  top: -3px;
  height: 122%;
}

.fa-caret-down {
  color: #d1d1d1;
  font-size: 14px;
  transition: color 0.3s ease;
}

.share-caret {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
}

.share-btn:hover span,
.share-btn:hover i.fa-caret-down {
  color: #2dbe60;
}

div.sort-options-dropdown {
  border-radius: 0 0 4px 4px;
  border: 3px solid rgba(217, 217, 217, 0.4);
  border-top: 1px solid rgba(217, 217, 217, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.04),
              -6px 8px 15px rgba(0, 0, 0, 0.04),
              6px 8px 15px rgba(0, 0, 0, 0.04);
  position: absolute;
  z-index: -1;
  background-color: white;
  visibility: hidden;
}

div.notes-sort-options:hover {
  cursor: pointer;
}

div.notes-sort-options:hover > div.sort-options-dropdown {
  visibility: visible;
  z-index: 1;
}

ul.sort-options-list {
  padding: 12px 0;
  width: 223px;
}

ul.sort-options-list > li {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 18px;
}

ul.sort-options-list > li > i {
  color: white;
}

ul.sort-options-list > li:hover {
  cursor: pointer;
  background-color: #2dbe60;
}

ul.sort-options-list > li:hover > span {
  color: white;
}

ul.sort-options-list > li:hover > i {
  color: #2dbe60;
}

ul.sort-options-list > li.selected > span,
ul.sort-options-list > li.selected > i {
  color: #2dbe60;
}

ul.sort-options-list > li.selected:hover > span,
ul.sort-options-list > li.selected:hover > i {
  color: white;
}

span.sort-option-field {
  float: left;
}

i.sort-option-check {
  float: right;
}

.share-btn:hover {
  border-color: #2dbe60;
}

.share-btn:hover .share-btn-drop-arrow {
  border-color: #2dbe60;
}

.create-notebook-group:hover {
  cursor: pointer;
}

.create-notebook-group > .fa-book {
  margin-right: 4px;
}

.create-notebook-group > .notebook-caret {
  margin-left: 4px;
}

li > i.fa-tag {
  margin-right: 4px;
}

nav.actions-group {
  float: left;
  padding: 12px 12px 24px 17px;
  background-color: #f8f8f8;
  height: 100%;
  border-right: 1px solid #ececec;
  position: fixed;
}

ul.action-icons {
  float: left;
  margin-top: 28px;
}

div.icon-circle {
  background-color: white;
  border: 1px solid #d1d1d1;
  transition: background-color 0.2s ease;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin-top: 12px;
  margin-bottom: 12px;
}

div.secondary-circle {
  border-radius: 18px;
  width: 36px;
  height: 36px;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: background-color 0.2s ease;
}

div.secondary-circle:hover {
  background-color: #2dbe60;
  cursor: pointer;
}

div.secondary-circle:hover > .action-icon {
  color: white;
}

i.action-icon {
  padding-left: 8px;
  font-size: 20px;
  padding-top: 7px;
  color: #2dbe60;
}

div.icon-circle > i.fa-plus {
  padding-left: 10px;
  padding-top: 8px;
}

div.icon-circle > i.fa-search {
  padding-left: 8px;
  padding-top: 7px;
}

div.secondary-circle > i.fa-star {
  padding-left: 9px;
  padding-top: 8px;
}

div.secondary-circle > i.fa-file-text {
  padding-left: 10px;
  padding-top: 7px;
}

div.secondary-circle > i.fa-tag {
  padding-left: 10px;
  padding-top: 7px;
}

div.icon-circle:hover {
  background-color: #2dbe60;
  border-color: #2dbe60;
  cursor: pointer;
}

div.icon-circle:hover i.action-icon {
  color: white;
}

ul.action-labels {
  float: left;
  color: #807f83;
  margin-top: 28px;
}

div.action-label.top {
  margin-bottom: 2px;
}

div.action-label.middle {
  margin-bottom: 1px;
}

.action-label > span {
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 6px 10px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.action-label > span:hover {
  color: #2dbe60;
}

div.action-label-group {
  margin-top: 5px;
}

div.action-icons-group.middle {
  margin-top: 70px;
}

div.action-label-group.middle {
  margin-top: 60px;
}

img.logo {
  width: 30px;
  height: 30px;
  float: left;
}

div.nav-title > span {
  font-family: 'Arvo', times, serif;
  color: #2dbe60;
  float: left;
  font-size: 17px;
  font-weight: 400;
  margin-left: 5px;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 8px;
}

div.log-out-container {
  position: absolute;
  bottom: 40px;
  left: 0px;
  border-top: 1px solid #ececec;
  width: 183px;
  color: #807f83;
}

.log-out-group:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}

div.action-label.bottom {
  float: left;
}

.log-out-group > div.secondary-circle {
  float: left;
}

.log-out-group {
  padding: 2px 20px;
}

div.secondary-circle > i.fa-sign-out {
  padding-top: 9px;
  padding-left: 11px;
  color: #2dbe60;
}

div.secondary-circle:hover > i.fa-sign-out {
  color: white;
}

div.action-label.bottom {
  padding-top: 6px;
}

header.note-title-header {
  padding-top: 100px;
  margin-bottom: 15px;
}

section.text-edit-section {
  float: left;
  width: calc(100% - 183px);
  height: 100%;
  margin-left: 184px;
}

div.note-title-container {
  height: 32px;
  min-width: 240px;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
}

div.note-title-container > input {
  height: 32px;
  line-height: 32px;
  width: 100%;
}

div.note-title-container > input[type="text"] {
  color: #2dbe60;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-weight: 100;
  font-size: 28px;
}

div.text-editor-page {
  min-height: 400px;
  width: 770px;
  margin: 0 auto 0 auto;
  border: 1px solid #2dbe60;
}

@media screen and (max-width: 1083px) {
  div.note-title-container {
    margin-left: 60px;
    margin-right: 60px;
  }

  div.text-editor-page {
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
  }

  div.tool-bar {
    margin-left: 50px !important;
  }
}

div.text-editor-page {
  padding: 15px;
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 14px;
  color: #383838;
}

div.tool-bar-container {
  margin-bottom: 50px;
}

div.tool-bar {
  background: #393d41;
  border-radius: 4px;
  padding: 10px;
  height: 28px;
  width: 481px;
  margin-right: 50px;
  margin-left: calc(100% - 800px - (100% - 800px) * 0.5);
  position: relative;
}

span.tool-text {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #f8f8f8;
  padding-right: 3px;
  line-height: 28px;
  transition: color 0.3s ease;
}

div.tool-bar > div {
  display: inline-block;
  cursor: pointer;
  padding-right: 10px;
  height: 28px;
  vertical-align: middle;
  padding: 0px 12px;
}

div.color-tool {
  height: 13px;
  width: 13px;
  border: 1px solid #878787;
  display: inline-block;
  transition: border 0.3s ease;
}

div.color-tool.default {
  background: rgb(56, 56, 56);
}

div.color-tool-group {
  display: inline-block;
  margin-top: 1px;
}

div.color-tool.selection {
  margin: 1px;
}

div.tool-bar > div.tool-group-w-border {
  border-right: 1px solid #606060;
}

div.color-tool.selection:hover {
  border-color: #2dbe60;
}

i.tool-bar-icon {
  color: #f8f8f8;
  padding: 5px 8px;
  transition: color 0.3s ease;
}

div.tool-group-w-border:hover > span.tool-text,
div.tool-group-w-border:hover > i.fa-caret-down {
  color: #2dbe60;
}

div.color-tool-group:hover > div.color-tool {
  border-color: #2dbe60;
}

div.color-tool-group:hover > i.fa-caret-down {
  color: #2dbe60;
}

i.tool-bar-icon:hover {
  color: #2dbe60;
}

div.hyperlink-tool:hover > i {
  color: #2dbe60;
}

div.paragraph-alignment-tool:hover > i {
  color: #2dbe60;
}

div.font-options-wrapper,
div.size-options-wrapper,
div.paragraph-alignment-wrapper {
  position: absolute;
  transition: top 0.7s ease;
  overflow: hidden;
  z-index: -1;
}

div.font-options-wrapper {
  left: 15px;
  top: -187px;
}

div.size-options-wrapper {
  left: 90px;
  top: -175px;
}

div.paragraph-alignment-wrapper {
  left: 449px;
  top: -100px;
  z-index: 2;
  height: 136px;
}

div.font-tool:hover > div.font-options-wrapper {
  top: 37px;
  z-index: 1;
}

div.font-tool:hover > div.font-options-wrapper > div.font-options-container {
  bottom: 0px;
}

div.size-tool:hover > div.size-options-wrapper {
  top: 37px;
  z-index: 1;
}

div.size-tool:hover > div.size-options-wrapper > div.size-options-container {
  bottom: 0px;
}

div.font-options-container,
div.size-options-container,
div.color-dropdown-container,
div.paragraph-alignment-container {
  background: #515559;
  border-radius: 0 0 4px 4px;
  padding: 5px;
  position: relative;
  transition: bottom 0.7s ease;
}

div.font-options-container {
  bottom: -224px;
}

div.size-options-container {
  bottom: -213px;
}

div.size-options-container > ul.options > li {
  font-family: helvetica;
  font-weight: 100;
  font-size: 13px;
}

div.font-tool:hover div.font-options-container,
div.size-tool:hover div.size-options-container {
  visibility: visible;
}

ul.options {
  padding: 0 4px;
}

ul.options > li {
  color: white;
  font-size: 14px;
  padding: 7px 0;
  transition: color 0.3s ease;
}

ul.options > li:hover {
  color: #2dbe60;
}

li[valueArg="Gotham"] {
  font-family: gotham;
}

li[valueArg="Georgia"] {
  font-family: georgia;
}

li[valueArg="Helvetica"] {
  font-family: helvetica;
}

li[valueArg="Courier New"] {
  font-family: 'Courier New';
}

li[valueArg="Times New Roman"] {
  font-family: 'Times New Roman';
}

li[valueArg="Trebuchet"] {
  font-family: 'trebuchet';
}

li[valueArg="Verdana"] {
  font-family: 'verdana';
}

div.color-dropdown-container {
  width: 170px;
  position: relative;
  bottom: -106px;
}

div.paragraph-alignment-container {
  position: relative;
  bottom: -136px;
}

div.color-dropdown-wrapper {
  position: absolute;
  top: -67px;
  transition: top 0.7s ease;
  overflow: hidden;
  z-index: -2;
  height: 106px;
}

div.color-tool-group:hover > div.color-dropdown-wrapper {
  top: 30px;
  z-index: 1;
}

div.color-tool-group:hover div.color-dropdown-container {
  bottom: -6px;
}

div.paragraph-alignment-tool:hover > div.paragraph-alignment-wrapper {
  top: 30px;
  z-index: 1;
}

div.paragraph-alignment-tool:hover div.paragraph-alignment-container {
  bottom: -6px;
}

ul.options > li > i:hover {
  cursor: pointer;
  color: #2dbe60;
}

div.hyperlink-wrapper {
  position: absolute;
  left: 30px;
  top: -115px;
  height: 150px;
  transition: top 0.7s ease;
  overflow: hidden;
  z-index: -1;
}

div.hyperlink-tool:hover > div.hyperlink-wrapper {
  top: 32px;
  z-index: 1;
}

div.hyperlink-container {
  background: #515559;
  padding: 12px;
  border-radius: 4px;
  position: relative;
  top: 155px;
  transition: top 0.7s ease;
}


div.hyperlink-tool:hover div.hyperlink-container {
  top: 8px;
}

div.hyperlink-input {
  width: 500px;
  height: 28px;
}

div.hyperlink-text-container,
div.title-text-container {
  background-color: #313539;
  border: 1px solid #2b2e31;
  height: 28px;
  border-radius: 4px;
  width: 400px;
  padding: 3px;
  margin-bottom: 8px;
  transition: bottom 0.7s ease;
}

.hyperlink-label,
.text-label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ababab;
  display: inline-block;
  float: left;
  border: 1px solid #606060;
  border-radius: 2px;
  padding: 5px;
  margin: 1px;
}

div.hyperlink-submit {
  font-family: gotham, helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #62eb92;
  background: #2b2e31;
  border-radius: 4px;
  border: 1px solid #1d1f21;
  padding: 7px 12px;
  display: inline-block;
  cursor: pointer;
  float: right;
}

div.hyperlink-submit:hover {
  background: #212426;
  border: 1px solid #131415;
}

input.hyperlink,
input.hyperlink-title {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  background: none;
  text-overflow: ellipsis;
  padding: 0 5px;
  box-sizing: border-box;
  margin-top: 7px;
  color: WHITE;
  outline: none;
  border: none;
  width: 80%;
}

div.hyperlink-container:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}

section.notes {
  width: 560px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 920px) {
  section.notes {
    margin-left: 60px;
    margin-left: 60px;
  }
}

div.notes-container {
  width: 100%;
}

div.notes-container {
  margin-left: 183px;
  height: 100%;
  width: calc(100% - 183px);
}

header.notes-header {
  width: 92%;
  margin-top: 20px;
  padding: 20px 4% 0 4%;
  border-bottom: solid 1px #ececec;
}

header.notes-header > span {
  color: #878787;
  display: block;
  vertical-align: top;
  font-size: 21px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

div.note-info {
  width: 100%;
  padding-bottom: 10px;
}

div.notes-count {
  float: left;
  color: #ababab;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 200;
}

div.notes-sort-options {
  float: right;
  display: inline-block;
  vertical-align: top;
  color: #878787;
  margin-right: 10px;
  font-size: 13px;
  color: #ababab;
  font-weight: 200px;
}

article.note-panels-container {
  width: 560px;
}

div.note-panel {
  padding: 20px 4% 20px 4%;
  border-bottom: solid 1px #ececec;
  transition: opacity 0.1s ease-in-out;
}

div.date-icon-container {
  display: block;
}

div.note-date {
  color: #878787;
  margin-bottom: 9px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
}

div.date-icon-container > i {
  color: white;
  float: right;
  margin: 0 5px;
  transition: color 0.2s ease;
}

div.note-title {
  color: #4a4a4a;
  line-height: 18px;
  margin-bottom: 4px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  font-family: 'Arvo', times, serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

div.note-preview {
  color: #878787;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
  font-family: helvetica, arial, sans-serif;
  height: 48px;
  overflow: hidden;
}

div.note-panel:hover {
  background-color: rgba(43, 181, 92, 0.9);
  cursor: pointer;
}

div.note-panel:hover div,
div.note-panel:hover i {
  color: white;
}

div.date-icon-container > i:hover {
  color: black;
}
