html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: helvetica, arial, sans-serif;
}

ul {
  list-style: none;
}

a:link {
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

input.note-title::-webkit-input-placeholder { /* WebKit browsers */
    color: #2dbe60;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 28px;
}
input.note-title:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2dbe60;
   opacity: 1;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}
input.note-title::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2dbe60;
   opacity: 1;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}
input.note-title:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #2dbe60;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}

input.search-bar::-webkit-input-placeholder { /* WebKit browsers */
    color: #ECECEC;
}
input.search-bar:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #ECECEC;
}
input.search-bar::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #ECECEC;
}
input.search-bar:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #ECECEC;
}

::selection {
  background: #c9f2d0;
}


.font-modifier,
div.hyperlink-submit {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
