html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: helvetica, arial, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #2dbe60;
    font-family: 'Roboto', helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 28px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2dbe60;
   opacity: 1;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2dbe60;
   opacity: 1;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #2dbe60;
   font-weight: 300;
   font-family: 'Arvo', times, serif;
}
