<nav class="actions-group">
  <ul class="action-icons">
    <div class="icon-circle">
      <i></i>
    </div>
  </ul>
  <ul class="action-labels">

  </ul>
  <ul class="bottom-actions-group">

  </ul>
</nav>

<header>
  <nav class="header-navbar">
    <ul class="header-group header-left">
      <li class="create-notebook-group">
        <i class="fa fa-book"></i>
        <span>sam3turner's notebook</span>
        <i class="fa fa-caret-down notebook-caret"></i>
      </li>
      <li>
        <i class="fa fa-tag"></i>
        <span>New tag...</span>
      </li>
    </ul>

    <ul class="header-group header-right">
      <div class="down-triangle"></div>
      <div class="share-btn">
        <span>Share</span>
        <div class="share-btn-drop-arrow">
          <i class="fa fa-caret-down share-caret"></i>
        </div>
      </div>
      <button type="button" class="done-btn">Done</button>
    </ul>
  </nav>
</header>
