<div class="notes-container">
  <section class="notes">
    <header class="notes-header">
      <span>Notes</span>
      <div class="note-info">
        <div class="notes-count">105 notes</div>
        <div class="notes-sort-options">
          <span>Sort by <b>date</b></span>
          <i class="fa fa-caret-down"></i>
        </div>
      </div>
    </header>
    <article class="note-panels-container">
      <div class="note-panel">
        <div class="date-icon-container">
          <div class="note-date">5/28/14</div>
          <i class="fa fa-trash-o"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="note-title">Lists</div>
        <div class="note-preview">
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
          Avène Thermal Spring WaterAvène Thermal Spring WaterAvène Thermal Spring Water
        </div>
      </div>
    </article>
  </section>
</div>
