<div class="notes-container">
  <section class="notes">
    <header class="notes-header">
      <span>Notes</span>
      <div class="note-info">
        <div class="notes-count">105 notes</div>
        <div class="notes-sort-options">
          <span>Sort by <b class="sort-type">date</b></span>
          <i class="fa fa-caret-down"></i>
          <div class="sort-options-dropdown">
            <ul class="sort-options-list">
              <li data-id="0">
                <span class="sort-option-field">Date created (newest first)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
              <li data-id="1" class="selected">
                <span class="sort-option-field">Date created (oldest first)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
              <li data-id="2">
                <span class="sort-option-field">Date updated (newest first)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
              <li data-id="3">
                <span class="sort-option-field">Date updated (oldest first)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
              <li data-id="4">
                <span class="sort-option-field">Title (ascending)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
              <li data-id="5">
                <span class="sort-option-field">Title (descending)</span>
                <i class="fa fa-check sort-option-check"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <article class="note-panels-container">

    </article>
  </section>
</div>
