<div class="note-panel">
  <div class="date-icon-container">
    <div class="note-date"><%= date %></div>
    <i class="fa fa-trash-o"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="note-title"><%= note.get('title') %></div>
  <div class="note-preview">
    <%= note.get('content') %>
  </div>
</div>
