<div class="search-bar-container">
  <input type="text" class="search-bar" placeholder="search notes">
</div>

<div class="notes-container">
  <section class="notes">
    <header class="notes-header">
      <span>Results</span>
    </header>
    <article class="item-panels-container"></article>
  </section>
</div>
